/* Page Layout */

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.wrapper {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 70px;
    padding-top: 70px;
}

/* Header section */

header {
    display: flex;
    background-color: #1F2937;
    justify-content: space-between;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
}

#headerlinks {
    list-style-type: none;
    display: flex;
    font-size: 18px;
    color: #e5e7eb;
    gap: 15px;   
}

#headerlogo {
    font-size: 24px;
    color: #f9faf8;
}

/* Hero section */

.hero {
    background: #1f2937;
}

.hero-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.herotext {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.herotext h1 {
    color: #f9faf8;
    font-size: 41px;
    font-weight: 900;
    margin: 0px;
}

.herotext p {
   color: #e5e7eb;
   font-size: 18px;
}

.herotext button {
    color: #e5e7eb;
    background-color: #3882f6;
    padding: 0.3em 1.5em;
    border-radius: 8px;
    border-style: none;
    font-size: smaller;
    font-weight: 600;
}

/* Random info section */

.randominfo {
    display: flex;
    flex-direction: column;
}

.randominfo h1 {
    align-self: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.randinfimg {
    display: flex;
    justify-content: center;
}

.placeholder2 {
    width: 100px;
}

/*Quote section */

.quote {
    background-color: #e5e7eb;
    padding: 10%;
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1F2937;
}

.quote article {
    display: flex;
    flex-basis: 500px;
    flex-direction: column;
}

.quote strong {
    font-style: normal;
}

/* Call to action */

.CTA {
    display: flex;
    justify-content: center;
    padding: 5%;
}

.CTAcontainer {
    background-color: #3882f6;
    color: #f9faf8;
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.CTA button {
    color: #f9faf8;
    background-color: #3882f6;
    border-radius: 8px;
    padding: 0.3em 1.5em;
    border-color: #f9faf8;
    border-style: solid;
    font-size: smaller;
}

/* Footer */

footer {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
}

footer p {
    color: #f9faf8;
}