* 

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.wrapper {
    padding-left: 10%;
    padding-right: 10%;
}

/* Header section */

header {
    display: flex;
    background-color: #1F2937;
    justify-content: space-around;
    align-items: center;
}

#headerlinks {
    list-style-type: none;
    display: flex;
    font-size: 18px;
    color: #e5e7eb;
    gap: 15px;   
}

#headerlogo {
    font-size: 24px;
    color: #f9faf8;
}

/* Hero section */

.hero {

    padding-top: 5%;
    padding-bottom: 5%;
    background: #1f2937;
}

.hero-container {
    display: flex;
}

.herotext h1 {
    color: #f9faf8;
    font-weight: 900;
}

.herotext p {
   color: #e5e7eb;
   font-size: 18px;
}

.herotext button {
    color: #e5e7eb;
    font-size: 18px;
    background-color: #3882f6;
    padding: 0.3em 1em;
    border-radius: 8px;
}

/* Random info section */

.randominfo {
    display: flex;
    flex-direction: column;
}

.randominfo h1 {
    align-self: center;
}

.randinfimg {
    display: flex;
    justify-content: center;
}

.placeholder2 {
    width: 100px;
}