body {
    font-family: "Roboto";
}

/* Header section */

header {
    display: flex;
    background-color: #1F2937;
}

#headerlinks {
    list-style-type: none;
    display: flex;
    font-size: 18px;
    color: #e5e7eb;   
}

#headerlogo {
    font-size: 24px;
    color: #f9faf8;
}